
.education-field-form {
  clear: both;
  padding: 1em;
  border: 1px dotted black;
  margin: 0 0 1em;
  float: left;
  width: 95%;
}

.education-field-left {
  float: left;
}

.education-field-to {
  clear: both;
}

.education-field-label {
  font-weight: bold;
}

